$screen-tablet: 768px;
$text-color: #333;
$theme-color: #eaC355;
$primary-color: #0f834d;
$primary-color-focus: darken($primary-color, 30%);
$sub-color: #f7d584;
$text-input-color: #7c7c7c;
$hover-background: rgba(255,86,117,0.73);
$primary-font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
$header-font-family: 'Playfair Display',Georgia,'Times New Roman',serif;
$icon-font-family: ETmodules!important;

$price-color: #9d4d4a;
$product-list-button-border-color: rgba(0, 0, 0, 0.06);
$product-list-button-bg-color: rgba(0, 0, 0, 0.03);
$decorator-border: 1px solid #e6e6e6;
$decorator-box-shadow: 0 0 0 2px rgba(0, 0, 0, .05);
$decorator-box-shadow-hover: 0 0 0 2px rgba(147, 183, 134, 0.8);
$sale-badge-color: $price-color;