#menu-main-footer {
    text-align: center;
}


.et_pb_social_icon a.icon {
    margin: 0;
    transition: opacity 1s ease-out;
    opacity: .5;

    &:hover,
    &:focus {
        opacity: 1;
    }
}