$search-border-color: #ccc;

.cd-header-search {
    margin-left: 20px;
    padding: 0;
    position: relative;
    display: inline-block;
    border: 1px solid $search-border-color;

    input[type="search"] {
        height: 40px;
        width: 300px;
        padding-left: 15px;
        padding-right: 85px;
        border: none;
        font-size: 14px;
    }

    input[type="submit"] {
        position: absolute;
        top: -1px;
        right: -1px;
        height: 42px;
        font-size: 14px;
        width: 80px;
        border: none;
        color: #fff;
        background: $primary-color;
        border-radius: 0;
    }

    .cd-header-search__mobile-wrapper {
        display: none;
        background: #fff;
    }

    &.cd-header-search__mobile {
        display: none;
    }
}

@media only screen and (max-width: $screen-tablet) {
    .cd-header-search {
        display: none;

        &.cd-header-search__mobile {
            display: block;
            width: 80%;
            margin: 0 auto;
        }
    }

    .cd-header-search__mobile-wrapper {
        display: block;
        position: absolute;
        padding-bottom: 20px;
        left: 0;
        right: 0;
        box-shadow: 0 1px 0 rgba(0,0,0,.1);
    }

    #main-header {
        box-shadow: none;
    }

    #et-main-area {
        margin-top: 60px;
    }
}
