.woocommerce {
    .cd-notice {
        background: #51b0da;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        position: relative;
        padding: 15px 15px 15px 50px;
        border-radius: 2px;
        margin-bottom: 15px;


        &:before {
            content: '';
            display: block;
            font-family: $icon-font-family;
            font-weight: 400;
            font-size: 16px;
            position: absolute;
            top: 18px;
            left: 15px;
            color: #fff;
        }

        &.cd-notice__ {
            &error {
                background: #ee5266;

                &:before {
                    content: '\e0f6';
                }
            }

            &info {
                background: #f1b652;

                &:before {
                    content: '\70';
                }
            }

            &message {
                &:before {
                    content: '\e065';
                }
            }
        }
    }

    .woocommerce- {
        &error,
        &info,
        &message {
            background: none !important;
            border-radius: 0 !important;
            padding: 0 !important;
            margin: 0;
        }

        &error > li {
            list-style: circle inside !important;
        }
    }
}