/* Product List */
.woocommerce-result-count {
    font-family: $primary-font-family;
    padding-left: 18px;
    line-height: 35px;

    &:before {
        position: absolute;
        content: '\e08c';
        font-family: $icon-font-family;
        left: 0;
    }
}
.woocommerce ul.products li.product {
    transition: all .3s ease-in;

    .woocommerce-loop-product__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-bottom: .1em;
    }

    a.woocommerce-loop-product__link {
        .woocommerce-loop-product__title {
            color: #333;
            line-height: 22px;
        }
    }

    .price {
        padding: 0 0 10px 0;
        font-size: 1.2em;
        font-family: $primary-font-family;
        color: #000;

        .amount {
            color: $price-color;
        }

        del {
            display: block;
        }
    }

    .et_shop_image {
        background: #fff;

        .et_overlay {
            border: none;
        }
    }

    .et_overlay {
        border-radius: 0;
        background: $hover-background;

        &:before {
            color: #fff;
            content: '\e03e';
        }
    }

    .onsale {
        font-size: 10px;
        margin: 0 !important;
        border-radius: 0 !important;
        padding: 2px 5px 0 5px !important;
        text-align: center;
        background: linear-gradient(0deg, transparent 30%, $sale-badge-color 30%) !important;
        z-index: 1000;
        top: -3px !important;
        left: 3px !important;
        overflow: hidden;
        height: 40px;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            z-index: -1;
            bottom: -7px;
            border: 20px solid transparent;
        }

        &:before {
            left: 0;
            border-left-color: $sale-badge-color;
            transform: rotate(20deg);
        }

        &:after {
            right: 0;
            border-right-color: $sale-badge-color;
            transform: rotate(-20deg);
        }
    }

    .woosw-btn {
        &:before {
            color: #000;
            font-size: 16px;
        }

        &.woosw-added:before {
            font-family: $icon-font-family;
            content: '\e089';
            margin: 0;
        }
    }

    .wooscp-btn,
    .woosw-btn {
        position: absolute;
        background: rgba(255, 255, 255, .5);
        color: transparent;
        margin: 0;
        font-size: 0;
        right: 10px;
        top: 10px;
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 20px;
        cursor: pointer;
        padding: 0;
        z-index: 100;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

        &:hover,
        &:focus {
            background: #fff;

            &:before {
                color: hotpink;
            }
        }
    }

    /* Compare btn*/
    .wooscp-btn {
        &:before {
            content: '\2b';
            font-family: $icon-font-family;
        }
    }

    /* Wishlist btn*/
    .woosw-btn {
        &:not(.woosw-added) {
            &:before {
                content: '\e030';
                font-family: $icon-font-family;
            }
        }
    }
}
