/* Product List */
.woocommerce ul.products li.product {
    background: #f7f7f7;
    border: $decorator-border;
    box-shadow: $decorator-box-shadow;
    transition: all .3s ease-in;
    text-align: center;

    .woocommerce-loop-product__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover,
    &:focus {
        border-color: $primary-color;
        box-shadow: $decorator-box-shadow-hover;
    }

    a.woocommerce-loop-product__link {
        .woocommerce-loop-product__title {
            padding-left: 20px;
            padding-right: 20px;
            color: #333;
            line-height: 22px;
        }
    }

    .price {
        padding: 0 5px 10px 5px;
        font-size: 1.2em;
        font-family: $primary-font-family;
        color: #000;

        .amount {
            color: $price-color;
        }

        del {
            display: block;
        }
    }

    .et_shop_image {
        background: #fff;
    }

    .et_overlay {
        border-radius: 0;
        background: rgba(0, 0, 0, .5);

        &:before {
            color: $primary-color;
        }
    }

    .onsale {
        font-size: 12px;
        width: $sale-badge-size;
        height: $sale-badge-size;
        margin: 0 !important;
        border-radius: ($sale-badge-size * 2) !important;
        padding: 0 !important;
        line-height: ($sale-badge-size - 2px) !important;
        text-align: center;
        background: $primary-color !important;
        z-index: 1000;
        top: -($sale-badge-size/2) !important;
        left: -($sale-badge-size/2) !important;
        box-shadow: 0 0 0 2px rgba(0,0,0,.1) !important;
    }

    .woosw-btn {
        &:before {
            color: #000;
            font-size: 16px;
        }

        &.woosw-added:before {
            font-family: $icon-font-family;
            content: '\e089';
            margin: 0;
        }
    }

    .wooscp-btn,
    .woosw-btn {
        position: absolute;
        background: rgba(255, 255, 255, .5);
        color: transparent;
        margin: 0;
        font-size: 0;
        right: 10px;
        top: 10px;
        border: none;
        height: 35px;
        width: 35px;
        border-radius: 20px;
        cursor: pointer;
        padding: 0;
        z-index: 100;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

        &:hover,
        &:focus {
            background: #fff;

            &:before {
                color: hotpink;
            }
        }
    }

    /* Compare btn*/
    .wooscp-btn {
        &:before {
            content: '\2b';
            font-family: $icon-font-family;
        }
    }

    /* Wishlist btn*/
    .woosw-btn {
        &:not(.woosw-added) {
            &:before {
                content: '\e030';
                font-family: $icon-font-family;
            }
        }
    }
}
