#cd-slider {
    .slick-slider {
        position: relative;
    }

    .et_pb_image_wrap {
        position: relative;
        outline: 3px solid rgba(0, 0, 0, 0.08);

        &:before {
            color: #fff;
            content: '\e03e';
            position: absolute;
            font-family: $icon-font-family;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: opacity .6s;
            z-index: 1;
            opacity: 0;
            font-size: 25px;
        }

        &:after {
            position: absolute;
            content: '';
            background: $hover-background;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            transition: all .3s;
            opacity: 0;
        }
    }

    .slick-dots {
        position: absolute;
        padding: 0;
        margin: 0;
        left: 50%;
        bottom: -30px;
        transform: translate(-50%, 0);

        > li {
            list-style: none;
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 0 3px;
            border-radius: 4px;
            background: rgba(0,0,0,.3);

            &.slick-active {
                background: rgba(0,0,0,.8);
            }
        }

        button {
            display: none;
        }
    }

    .slick-arrow {
        -webkit-appearance: none;
        font-size: 0;
        padding: 0;
        border: none;
        position: absolute;
        left: 0;
        color: transparent;
        background: rgba(0, 0, 0, 0.3);
        top: 50%;
        transform: translate(0, -50%);
        z-index: 100;

        &:before {
            content: "\35";
            font-family: $icon-font-family;
            font-weight: 400;
            font-style: normal;
            font-size: 40px;
            color: #fff;
        }

        &.slick-next {
            left: auto;
            right: 0;
        }

        &.slick-prev {
            &:before {
                content: "\34";
            }
        }
    }
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}