/* Utils */
.cd-section-title {
    position: relative;
    font-family: $primary-font-family;
    margin-bottom: 20px;

    .et_pb_text_inner {
        text-align: center;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translate(-50%, 0);
        height: 3px;
        width: 40px;
        background: #9d4d4a;
    }
}

.cd-feature-img {
    img {
        border-radius: 4px;
        box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;
    }

    a:hover img,
    a:focus img {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        z-index: 10;
    }
}

.cd-position__relative {
    position: relative;
}

.cd-text-align__center {
    text-align: center;
}

.cd-icon {
    position: relative;
}

.cd-icon:after {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    font-family: $icon-font-family;
    font-weight: 400;
}

.icon_lock_alt:after {
    content: '\e06c';
}

.icon_user:after {
    content: '\e08a';
}

.cd-mobile__show {
    display: none !important;
}

@media only screen and (max-width: $screen-tablet) {
    .cd-mobile__show {
        display: block !important;
    }

    .cd-mobile__hide {
        display: none !important;
    }
}
