$screen-tablet: 768px;
$primary-color: #93b786;
$primary-color-focus: darken($primary-color, 30%);
$text-input-color: #7c7c7c;
$primary-font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
$icon-font-family: ETmodules!important;

$sale-badge-size: 40px;
$price-color: #9d4d4a;
$product-list-button-border-color: rgba(0, 0, 0, 0.06);
$product-list-button-bg-color: rgba(0, 0, 0, 0.03);
$decorator-border: 1px solid #e6e6e6;
$decorator-box-shadow: 0 0 0 2px rgba(0, 0, 0, .05);
$decorator-box-shadow-hover: 0 0 0 2px rgba(147, 183, 134, 0.8);